/* Color Theme Swatches in Hex */
.UI/UX-1-hex { color: #3DBFF2; }
.UI/UX-2-hex { color: #51D92B; }
.UI/UX-3-hex { color: #D9CD30; }
.UI/UX-4-hex { color: #59441C; }
.UI/UX-5-hex { color: #F2D8CE; }

/* Color Theme Swatches in RGBA */
.UI/UX-1-rgba { color: rgba(60, 190, 242, 1); }
.UI/UX-2-rgba { color: rgba(80, 216, 43, 1); }
.UI/UX-3-rgba { color: rgba(216, 205, 47, 1); }
.UI/UX-4-rgba { color: rgba(89, 67, 27, 1); }
.UI/UX-5-rgba { color: rgba(242, 215, 205, 1); }

/* Color Theme Swatches in HSLA */
.UI/UX-1-hsla { color: hsla(196, 87, 59, 1); }
.UI/UX-2-hsla { color: hsla(106, 69, 51, 1); }
.UI/UX-3-hsla { color: hsla(56, 68, 51, 1); }
.UI/UX-4-hsla { color: hsla(39, 52, 22, 1); }
.UI/UX-5-hsla { color: hsla(16, 58, 87, 1); }



/* Color Theme Swatches in Hex */
.UI/UX-1-hex { color: #68458C; }
.UI/UX-2-hex { color: #D99311; }
.UI/UX-3-hex { color: #BF9288; }
.UI/UX-4-hex { color: #F2F2F2; }
.UI/UX-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.UI/UX-1-rgba { color: rgba(104, 68, 140, 1); }
.UI/UX-2-rgba { color: rgba(216, 146, 17, 1); }
.UI/UX-3-rgba { color: rgba(191, 145, 135, 1); }
.UI/UX-4-rgba { color: rgba(242, 242, 242, 1); }
.UI/UX-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.UI/UX-1-hsla { color: hsla(270, 34, 40, 1); }
.UI/UX-2-hsla { color: hsla(39, 85, 45, 1); }
.UI/UX-3-hsla { color: hsla(11, 30, 64, 1); }
.UI/UX-4-hsla { color: hsla(0, 0, 95, 1); }
.UI/UX-5-hsla { color: hsla(0, 0, 5, 1); }




/* LESLYE */

/* Color Theme Swatches in Hex */
.Composicion-Geometrica-1-hex { color: #abade7; }
.Composicion-Geometrica-1-hex { color: #1B24F8; }
.Composicion-Geometrica-1-hex { color: #1c23da; }
.Composicion-Geometrica-2-hex { color: #z; }
.Composicion-Geometrica-3-hex { color: #0e6a9c; }
.Composicion-Geometrica-4-hzex { color: #26F0B5; }
.Composicion-Geometrica-5-hex { color: #1DDB23; }
.Composicion-Geometrica-5-hex { color: #64d468; }
.Composicion-Geometrica-6-hex { color: #C8F81B; } 
.Composicion-Geometrica-7-hex { color: #138516; }
.Composicion-Geometrica-8-hex { color: #22a026; }

/* Color Theme Swatches in RGBA */
.Composicion-Geometrica-1-rgba { color: rgba(27, 36, 248, 1); }
.Composicion-Geometrica-2-rgba { color: rgba(24, 151, 217, 1); }
.Composicion-Geometrica-3-rgba { color: rgba(38, 240, 181, 1); }
.Composicion-Geometrica-4-rgba { color: rgba(29, 219, 35, 1); }
.Composicion-Geometrica-5-rgba { color: rgba(200, 248, 27, 1); }

/* Color Theme Swatches in HSLA */
.Composicion-Geometrica-1-hsla { color: hsla(237, 94, 53, 1); }
.Composicion-Geometrica-2-hsla { color: hsla(200, 80, 47, 1); }
.Composicion-Geometrica-3-hsla { color: hsla(162, 87, 54, 1); }
.Composicion-Geometrica-4-hsla { color: hsla(121, 76, 48, 1); }
.Composicion-Geometrica-5-hsla { color: hsla(73, 94, 53, 1); }