@charset "UTF-8";
/* Colores */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=League+Spartan:wght@200;400;700&display=swap");
/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin: 0 auto;
  background-color: whitesmoke;
  background-image: url(/assets/img/logo_difuminar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-attachment: fixed;
}

header {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

/* BREAKPOINTS */
header {
  display: flex;
  justify-content: space-between;
}
header .navbar__menu {
  align-items: center;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  /* .team {
      display: grid;
      grid-template-columns: minmax(200px, 603px) minmax(263px, 524px);
      justify-content: space-between;
      // grid-template-columns: repeat(2, minmax(200px, 600px));
      // grid-template-columns: 2fr 3fr;
      gap: 50px;

      &__text {
          align-self: center;
      }
  } */
}
main .hero {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 600px));
  justify-content: space-between;
}
main .services__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(75px, 500px));
  grid-template-rows: 1fr;
}
main .services__container__item {
  display: flex;
}
main .we-are {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
main .we-are__text {
  align-self: center;
}
main .team {
  display: grid;
  grid-template-columns: 1fr;
}
main .team__text {
  align-self: center;
}
main .team__container {
  display: grid;
  grid-template-columns: repeat(2, minmax(125px, 600px));
  grid-template-rows: 1fr;
}
main .team__container__item {
  display: flex;
}
main .resources__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
main .contact {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 600px));
  gap: 50px;
}
main .contact__title {
  align-self: center;
}
main .books__ranking .books__ranking__book-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
main .books__ranking .books__ranking__book-container .books__ranking__item {
  display: grid;
  grid-template-columns: minmax(30%, 300px) 1fr;
}
main .cv-templates__ranking .cv-templates__ranking__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
}
main .podcasts__topic .podcasts__topic__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
main .trends__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

footer .footer__container {
  display: flex;
  justify-content: space-between;
}

/* Buttons */
.navbar__button--highlighted, header .navbar__menu li:last-child {
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  text-decoration: none;
  border: 1.5px solid #000000;
}

.section__button--highlighted, .books__ranking__item .book__button, .hero__button {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 1.5px solid #000000;
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.section__button--highlighted-center, .team .hero__button {
  display: flex;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 1.5px solid #000000;
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.section__button--megahighlighted, .cv-templates__button, .books .library__button {
  display: flex;
  width: 400px;
  height: 80px;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: 1.5px solid #000000;
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

/* Common titles */
.section__title--side, .contact__title h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 48px;
  margin-bottom: 36px;
  color: #000000;
  text-transform: uppercase;
}

.section__title--center, .trends h2, .trends h1, .podcasts h2, .podcasts h1, .cv-templates h1, .cv-templates h2, .books h1, .books h2, .resources h3, .team__text h3, .we-are__text h3, .services__title--big h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 48px;
  margin-bottom: 42px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.section__paragraph--side, .trends p, .podcasts p, .cv-templates p, .books p, .team__text p, .we-are__text p, .services__title--big p {
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  margin-top: 16px;
  color: #000000;
  line-height: 1.3;
}

.section__title-2nd--small, .trends__container {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 36px;
  margin-bottom: 24px;
  color: #000000;
}

.section__title-3rd--small, .podcasts__topic__container h3, .books__ranking__item h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 32px;
  margin-bottom: 24px;
  color: #000000;
}

header {
  padding: 20px 30px;
}
header .header__logo {
  width: 220px;
}
header .header__logo:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
}
header .header__open-button--mobile,
header .navbar__close-button--mobile {
  display: none;
}
header .navbar {
  font-family: "League Spartan", sans-serif;
  font-size: 20px;
  font-weight: 400;
  justify-content: space-around;
  align-items: center;
}
header .navbar__menu {
  justify-content: space-between;
  width: 700px;
}
header .navbar__menu li {
  list-style: none;
}
header .navbar__menu li a {
  text-decoration: none;
  color: #000000;
}
header .navbar__menu li a:hover {
  color: #0624ae;
}
header .navbar__menu li:last-child a {
  color: #000000;
}
header .navbar__menu li .navbar__menu__item--first {
  display: none;
}

.navbar.visible {
  opacity: 1;
  visibility: visible;
}

.hero {
  margin: 0 50px;
  height: 600px;
}
.hero__text {
  align-self: center;
  margin: 0 10px;
}
.hero__text--big {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin: 40px 0;
  color: #000000;
  text-transform: uppercase;
}
.hero__text--small {
  font-family: "League Spartan", sans-serif;
  font-weight: normal;
  font-size: 24px;
  margin: 40px 0;
  color: #000000;
  line-height: 1.3;
}
.hero__img {
  justify-content: center;
}
.hero__img img {
  height: 100%;
  width: 100%;
}
.hero__button {
  width: 270px;
}

.services {
  margin: 30px 50px;
}
.services__title--big p {
  text-align: center;
  margin-bottom: 40px;
}
.services__container {
  margin-top: 60px;
}
.services__container a {
  text-decoration: none;
}
.services__container__item {
  flex-direction: column;
  justify-self: center;
}
.services__container__item img {
  width: 200px;
  margin: 0 auto;
}
.services__container__item p {
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 30px;
  text-align: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
}

.we-are {
  margin: 40px 50px 40px 50px;
}
.we-are__text p {
  text-align: center;
  margin-bottom: 40px;
}
.we-are__img img {
  width: 100%;
}

.team {
  margin: 0 50px;
}
.team__text p {
  text-align: center;
}
.team__container {
  margin-top: 60px;
  margin-left: 15%;
  margin-right: 15%;
}
.team__container a {
  text-decoration: none;
}
.team__container__item {
  flex-direction: column;
  justify-self: center;
}
.team__container__item img {
  width: 200px;
  margin: 0 auto;
}
.team__container__item p {
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 30px;
  text-align: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
}
.team blockquote {
  color: #000000;
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  width: 80%;
  margin: 30px auto 30px auto;
  text-align: center;
}
.team blockquote h1 {
  font-size: 4rem;
}
.team blockquote p {
  font-style: italic;
  margin-bottom: 0;
  line-height: 1.5;
  text-align: center;
}
.team blockquote p::before,
.team blockquote p::after {
  content: "“";
  font-family: "League Spartan", sans-serif;
  font-size: 4rem;
  margin: -1.5rem 0 0 -2.5rem;
  position: absolute;
  color: gray;
}
.team blockquote p::after {
  content: "”";
  margin: -1.6rem 0 0 -0.3rem;
}
.team #blockquote_with_quotation {
  display: flex;
}
.team #blockquote_without_quotation {
  display: none;
}
.team .hero__button {
  width: 210px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.resources {
  margin: 50px 50px 0 50px;
}
.resources a {
  text-decoration: none;
}
.resources__grid {
  padding-top: 30px;
}
.resources__grid__item {
  display: flex;
  align-items: center;
}
.resources__grid__item p {
  color: #000000;
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
}
.resources__grid__item i {
  color: #000000;
  font-size: 48px;
  margin: 0 20px 0 0;
}

.contact {
  margin: 100px 50px 0 50px;
}
.contact p {
  font-family: "League Spartan", sans-serif;
  font-size: 24px;
  color: #000000;
  line-height: 1.3;
}
.contact__text__icons__item {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.contact__text__icons__item i {
  color: #000000;
  font-size: 36px;
  margin: 0 20px 0 0;
}
.contact a {
  color: #000000;
}

.books {
  margin: 0 50px;
}
.books h1, .books h2 {
  margin-top: 50px;
}
.books p {
  text-align: center;
}
.books__ranking__item h3 {
  text-transform: uppercase;
}
.books__ranking__item img {
  max-width: 250px;
  padding-right: 30px;
}
.books__ranking__item .book__button {
  margin-top: 20px;
}
.books__ranking__item p {
  text-align: left;
}
.books .library__button {
  margin-top: 100px;
  margin: auto;
}

.cv-templates {
  margin: 0 50px;
}
.cv-templates h1, .cv-templates h2 {
  margin-top: 50px;
}
.cv-templates p {
  text-align: center;
}
.cv-templates__ranking__container {
  margin: 50px 0 125px 0;
  min-width: 150px;
}
.cv-templates__ranking__container img {
  width: 100%;
}
.cv-templates__button {
  margin-top: 20px;
  margin: 60px auto;
}

.podcasts {
  margin: 0 50px;
}
.podcasts h2 {
  margin-top: 60px;
}
.podcasts p {
  text-align: center;
}
.podcasts__topic__container h3 {
  text-transform: uppercase;
}

.trends {
  margin: 0 50px;
}
.trends h2 {
  margin-top: 60px;
}
.trends p {
  text-align: center;
}
.trends__container {
  margin-top: 40px;
  margin-bottom: 60px;
}

.yt-video {
  aspect-ratio: 16/9;
  width: 100%;
}

footer {
  background-color: #0624ae;
  margin-top: 100px;
}
footer .footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 40px;
}
footer .footer__container p {
  align-self: center;
  font-family: "League Spartan", sans-serif;
  font-size: 22px;
  color: #ffffff;
}
footer .footer__container i {
  margin-right: 20px;
  color: #ffffff;
  font-size: 24px;
}

/* MEDIA QUERIES */
@media all and (max-width: 1400px) {
  header nav .navbar__menu {
    padding-left: 50px;
  }
  .hero,
  .services,
  .we-are,
  .team,
  .resources,
  .contact {
    margin-left: 50px;
    margin-right: 50px;
  }
  .books__ranking .books__ranking__book-container .books__ranking__item {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 1200px) {
  header .navbar__menu {
    justify-content: space-between;
    width: 630px;
  }
  main .hero {
    height: 500px;
    margin: 0 40px;
  }
  main .hero__text {
    align-self: center;
    margin: 0 10px;
  }
  main .hero__text--big {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin: 40px 0;
    color: #000000;
  }
  main .hero__text--small {
    font-family: "League Spartan", sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin: 46px 0;
    color: #000000;
    line-height: 1.3;
  }
  main .services {
    margin: 30px 50px;
  }
  main .services__title--big {
    font-size: 32px;
  }
  main .services__container__item img {
    width: 150px;
  }
  main .services__container__item p {
    font-size: 20px;
    line-height: 1.3;
  }
  main .team .team__container .team__container__item p {
    font-size: 20px;
  }
  blockquote p {
    font-size: 20px;
  }
  main .resources__grid p {
    font-size: 20px;
  }
  .section__title--side, .contact__title h3 {
    font-size: 40px;
    margin-bottom: 24px;
  }
  .section__title--center, .services__title--big h3, .we-are__text h3, .team__text h3, .resources h3, .books h1, .books h2, .cv-templates h1, .cv-templates h2, .podcasts h1, .podcasts h2, .trends h1, .trends h2 {
    font-size: 40px;
  }
  .section__paragraph--side, .services__title--big p, .we-are__text p, .team__text p, .books p, .cv-templates p, .podcasts p, .trends p {
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    margin-top: 16px;
    color: #000000;
    line-height: 1.3;
  }
  main .contact__title h3 {
    margin-bottom: 42px;
  }
  main .contact p {
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    color: #000000;
    line-height: 1.3;
  }
  main .contact__text__icons__item {
    display: flex;
    align-items: center;
    margin: 18px 0;
  }
  main .contact__text__icons__item i {
    color: #000000;
    font-size: 34px;
    margin: 0 20px 0 0;
  }
  main .contact a {
    color: #000000;
  }
  main .books__ranking__item img {
    padding-right: 0;
  }
  main .books__ranking .books__ranking__book-container {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
  footer .footer__container p {
    font-size: 20px;
  }
  footer .footer__container i {
    font-size: 22px;
  }
}
@media all and (max-width: 960px) {
  html {
    background-size: 100%;
  }
  header {
    width: 100%;
  }
  header .header__open-button--mobile {
    display: block; /*Button of open*/
    border: 0;
    font-size: 40px;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
  }
  header .navbar {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: fixed; /* The mobile menu will be fixed in the screen*/
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #7ed956;
    padding: 2rem;
    box-shadow: 0 0 0 1000vmax rgba(0, 0, 0, 0.4);
    justify-content: flex-start;
  }
  header .navbar__menu {
    flex-direction: column;
    align-items: end;
    line-height: 5rem;
    font-size: 28px;
    width: 300px;
  }
  header .navbar__close-button--mobile {
    display: block; /*Button of close*/
    border: 0;
    font-size: 40px;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
  }
  header .navbar__menu li .navbar__menu__item--first {
    display: inline;
  }
  header .navbar__menu li:last-child {
    border-radius: 2rem;
    padding: 6px 20px;
  }
  blockquote p::before,
  blockquote p::after {
    visibility: hidden;
  }
  .team #blockquote_without_quotation {
    display: flex;
  }
  .team #blockquote_with_quotation {
    display: none;
  }
  main .cv-templates__ranking .cv-templates__ranking__container {
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
  }
  main .podcasts .podcasts__topic__container {
    grid-template-columns: 1fr;
  }
  main .podcasts .podcasts__topic__container__item h3 {
    font-size: 32px;
  }
  main .trends__container__item h3 {
    font-size: 32px;
  }
}
@media all and (max-width: 768px) {
  html {
    background-size: 140%;
  }
  main .hero {
    grid-template-columns: 1fr;
  }
  main .hero__text {
    text-align: center;
  }
  main .hero__img {
    display: none;
  }
  main .hero__button {
    display: inline-flex;
    justify-self: center;
  }
  main .services .services__container {
    grid-template-columns: 1fr;
  }
  main .services .services__container__item img {
    width: 40%;
  }
  main .we-are {
    grid-template-columns: 1fr;
    gap: 0;
  }
  main .we-are__text h3, main .we-are__text p {
    text-align: center;
  }
  main .we-are__text h3 {
    margin-top: -20px;
  }
  main .we-are__img {
    width: 80%;
    justify-self: center;
    margin-bottom: 50px;
  }
  main .team {
    grid-template-columns: 1fr;
    /*
    &__img {
        order: 2;
        display: flex;
        padding-left: 15%;
        padding-right: 15%;

        img {
            margin: 0 auto;
        }
    }
    */
  }
  main .team__container {
    grid-template-columns: 1fr;
    gap: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 64px;
  }
  main .team__container__item img {
    width: 40%;
  }
  main .team__text h3 {
    text-align: center;
  }
  main .team__text p {
    text-align: center;
  }
  main .team__text .hero__button {
    display: flex;
    margin: 20px auto 60px auto;
  }
  main .resources__grid {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  main .contact {
    margin-top: 40px;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  main .contact h3, main .contact p {
    text-align: center;
  }
  main .contact .contact__text__icons__item p {
    text-align: left;
  }
  main .books__ranking .books__ranking__book-container .books__ranking__item {
    grid-template-columns: 1fr 2fr;
  }
  main .books__ranking .books__ranking__book-container .books__ranking__item h3 {
    text-align: center;
  }
  main .books__ranking .books__ranking__book-container .books__ranking__item a {
    justify-self: center;
  }
  main .books__ranking .books__ranking__book-container .books__ranking__item p {
    text-align: start;
  }
  main .books__ranking .books__ranking__book-container .books__ranking__item img {
    max-width: 200px;
    padding-right: 20px;
    justify-self: center;
  }
  main .books__ranking .books__ranking__book-container .books__ranking__item .book__button {
    margin: 30px auto;
  }
  main .books .library__button {
    width: 450px;
  }
  main .books p {
    text-align: center;
  }
  main .cv-templates p {
    text-align: center;
  }
  main .podcasts h1, main .podcasts h2 {
    font-size: 47px;
  }
  main .podcasts p {
    text-align: center;
  }
  main .podcasts__topic__container h3 {
    font-size: 28px;
  }
  main .trends h1, main .trends h2 {
    font-size: 47px;
  }
  main .trends p {
    text-align: center;
  }
  main .trends__container {
    grid-template-columns: 1fr;
  }
  main .trends__container h3 {
    font-size: 28px;
  }
  footer .footer__container {
    flex-direction: column;
    align-items: center;
  }
  footer .footer__container .footer__icons {
    margin: 0 10px 20px 10px;
  }
  footer .footer__container p {
    text-align: center;
  }
}
@media all and (max-width: 576px) {
  html {
    background-size: 180%;
  }
  main .hero {
    margin-bottom: 60px;
  }
  main .books h1 {
    font-size: 47px;
  }
  main .books__ranking .books__ranking__book-container .books__ranking__item {
    grid-template-columns: 1fr;
  }
  main .books .library__button {
    font-size: 22px;
    width: 230px;
    text-align: center;
  }
  main .cv-templates__ranking .cv-templates__ranking__container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  main .cv-templates__button {
    font-size: 22px;
    width: 230px;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
