// En este archivo deberán ir todas tus reglas base:

// Las reglas base pueden ser:
// - resets
// - variables
// - mixins
// - clases generales

/* Colores */
$primary-1-color: #0624ae;
$primary-2-color: #7ed956;
$primary-3-color: #000000;
$contrast-1-color: #2c2c4c;
// $background-1-color: #0624ae;
$background-1-color: #ffffff;
$text-color: #000000;
$text-light-color: #ffffff;


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=League+Spartan:wght@200;400;700&display=swap');

$title-font: 'Barlow Condensed', sans-serif;
$text-font: 'League Spartan', sans-serif;

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
    margin: 0 auto;
    background-color: whitesmoke;
    background-image: url(/assets/img/logo_difuminar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    //height: 100%;
    background-attachment: fixed;
}

header {
    max-width: 1200px;  
    margin: 0 auto;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

/* BREAKPOINTS */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
