// Aquí pondremos el código que podamos clasificar como reutilizable:

// El código reutilizable puede ser:
// - botones
// - barras de navegación
// - estilos para secciones 
// - tarjetas
// - modals

@use 'base' as *;

/* Buttons */

.navbar__button--highlighted {
    background-color: $primary-2-color;
    border-radius: 3rem;
    padding: 1rem 3rem;
    text-decoration: none;
}

.section__button--highlighted {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: $primary-1-color;
    font-family: $text-font;
    font-size: 20px;
    color: $background-1-color;
    text-decoration: none;
}

/* Common titles */

.section__title--side {
    font-family: $title-font;
    font-size: 56px;
    margin-bottom: 36px;
}

.section__paragraph--side {
    font-family: $text-font;
    font-size: 24px;
    margin-top: 16px;
}

/* Section styles */

.navbar {
    // display: flex;
    // justify-content: space-between;
    margin: 20px 30px;

    &__logo {
        width: 190px;
        
        &:hover {
            transform: scale(1.1, 1.1);
            transition-duration: 0.5s;
        }
    }

    &__menu {
        font-family: $text-font;
        font-size: 20px;
        font-weight: 400;
        justify-content: space-around;
        padding-left: 200px;
        width: 100%;
        
        li {
            list-style: none;

            a {
                text-decoration: none;
                color: $text-color;
            }

            &:last-child {
                @extend .navbar__button--highlighted;
            }
    
        }
    } /* end .navbar__menu */
} /* end .navbar */

.hero {
    margin: 0 50px;
    // width: 1400px;
    height: 500px;

    &__text {
        align-self: center;
        margin: 0 10px;

        &--big {
            font-family: $title-font;
            font-weight: 700;
            font-size: 56px;
            margin: 40px 0;
        }

        &--small {
            font-family: $text-font;
            font-weight: normal;
            font-size: 32px;
            margin: 40px 0;
        }
    }

    &__img {
        justify-content: center;

        img {
            height: 100%;
        }
    }

    &__button {
        @extend .section__button--highlighted;
    }
}

.services {
    margin: 100px 50px;
    // width: 1400px;
    
    &__title--big {
        font-family: $title-font;
        font-size: 36px;
        text-align: center;
        margin-bottom: 64px;
    }

    &__container {
    
        &__item {
        flex-direction: column;
        justify-self: center;

            img {
                width: 200px;
                margin: 0 auto;
            }

            p {
                font-family: $text-font;
                font-size: 28px;
                font-weight: 400;
                margin: 30px;
                text-align: center;
                align-items: center;
            }
        }
    }
}

.we-are {
    margin: 0 50px 100px 50px;
    &__text {
        h3 {
            @extend .section__title--side;        
        }

        p {
            @extend .section__paragraph--side;
        }

    }

    &__img img {
        width: 100%;
    }

}

.team {
    margin: 0 50px;

    &__text {
        h3 {
            @extend .section__title--side;
        }

        p {
            @extend .section__paragraph--side;
        }
    }

    &__img img {
        width: 100%;
    }
}

.resources {
    margin: 100px 50px 0 50px;
    
    h3 {
        @extend .section__title--side;
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    &__grid__item {
        display: flex;
        align-items: center;

        p {
            color: $text-color;
            font-family: $text-font;
            font-size: 24px;
        }
    
        i {
            color: $text-color;
            font-size: 48px;
            margin: 0 20px 0 0;
        }
    }


}

.contact {
    margin: 100px 50px 0 50px;

    &__title {
        h3 {
            @extend .section__title--side;
        }
    }

    p {
        font-family: $text-font;
        font-size: 24px;
    }

    &__text__icons__item {
        display: flex;
        align-items: center;     
        margin: 20px 0;

        i {
            color: $text-color;
            font-size: 36px;
            margin: 0 20px 0 0;
        }
    }
}

footer {
    background-color: $primary-1-color;
    margin-top: 100px;

    .footer__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px 0;

        p {
            align-self: center;
            font-family: $text-font;
            font-size: 22px;
            color: $text-light-color;
        }

        img {
            margin-right: 20px;
        }
    }
} 

