// Aquí pondremos el código que podamos clasificar como reutilizable:

// El código reutilizable puede ser:
// - botones
// - barras de navegación
// - estilos para secciones 
// - tarjetas
// - modals

@use 'base' as *;

/* Buttons */

.navbar__button--highlighted {
    border-radius: 1rem;
    padding: 0.7rem 1rem;
    text-decoration: none;
    border: 1.5px solid $primary-3-color;

}

.section__button--highlighted {
    display: flex;
    // width: 270px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1.5px solid $primary-3-color;
    font-family: $text-font;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: $text-color;
}

.section__button--highlighted-center {
    display: flex;
    // width: 270px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1.5px solid $primary-3-color;
    font-family: $text-font;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: $text-color;
}

.section__button--megahighlighted {
    display: flex;
    width: 400px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1.5px solid $primary-3-color;
    font-family: $text-font;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    color: $text-color;
}

/* Common titles */

.section__title--side {
    font-family: $title-font;
    font-size: 48px;
    margin-bottom: 36px;
    color: $text-color;
    text-transform: uppercase;
}

.section__title--center {
    font-family: $title-font;
    font-size: 48px;
    margin-bottom: 42px;
    color: $text-color;
    text-align: center; 
    text-transform: uppercase;
}

.section__paragraph--side {
    font-family: $text-font;
    font-size: 24px;
    margin-top: 16px;
    color: $text-color;
    line-height: 1.3;
}

.section__title-2nd--small {
    font-family: $title-font;
    font-size: 36px;
    margin-bottom: 24px;
    color: $text-color;
}

.section__title-3rd--small {
    font-family: $title-font;
    font-size: 32px;
    margin-bottom: 24px;
    color: $text-color;
}

header {
    padding: 20px 30px;

    .header__logo {
        width: 220px;

        &:hover {
            transform: scale(1.1, 1.1);
            transition-duration: 0.5s;
            }
    }

    .header__open-button--mobile,
    .navbar__close-button--mobile {
        display: none;
    }


    .navbar {
        font-family: $text-font;
        font-size: 20px;
        font-weight: 400;
        justify-content: space-around;
        align-items: center;
        // padding-left: 200px;
        // width: 100%;

        &__menu {
            justify-content: space-between;
            width: 700px;
        }

        &__menu li {
            list-style: none;
        
            a {
                text-decoration: none;
                color: $text-color;
                &:hover{
                    color: $primary-1-color;
                }
            }

            &:last-child {
                @extend .navbar__button--highlighted;

                a {
                    color: $text-color;
                }
            }

            .navbar__menu__item--first {
                display: none;
            }
        }
    }
}

.navbar.visible {
    opacity: 1;
    visibility: visible;
}

.hero {
    margin: 0 50px;
    // width: 1400px;
    height: 600px;
    //background-color: whitesmoke;

    &__text {
        align-self: center;
        margin: 0 10px;

        &--big {
            font-family: $title-font;
            font-weight: 700;
            font-size: 48px;
            margin: 40px 0;
            color: $text-color;
            text-transform: uppercase;
        }

        &--small {
            font-family: $text-font;
            font-weight: normal;
            font-size: 24px;
            margin: 40px 0;
            color: $text-color;
            line-height: 1.3;
        }
    }

    &__img {
        justify-content: center;

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__button {
        @extend .section__button--highlighted;
        width: 270px;
    }
}

.services {
    margin: 30px 50px;
    // width: 1400px;
    
    &__title--big {
        h3 {
            @extend .section__title--center;    
        }

        p {
            @extend .section__paragraph--side;
            text-align: center;
            margin-bottom: 40px;
        }
    }

    &__container {
        
        margin-top: 60px;
        a {
            text-decoration: none;
        }

        &__item {
        flex-direction: column;
        justify-self: center;

            img {
                width: 200px;
                margin: 0 auto;
            }

            p {
                font-family: $text-font;
                font-size: 24px;
                font-weight: bold;
                margin: 30px;
                text-align: center;
                align-items: center;
                color: $text-color;
                text-decoration: none;
            }
        }
    }
}

.we-are {
    margin: 40px 50px 40px 50px;
    &__text {
        h3 {
            @extend .section__title--center;    
        }

        p {
            @extend .section__paragraph--side;
            text-align: center;
            margin-bottom: 40px;
        }
    }

    &__img img {
        width: 100%;
    }
}

.team {
    margin: 0 50px;

    &__text {
        h3 {
            @extend .section__title--center;
        }

        p {
            @extend .section__paragraph--side;
            text-align: center;
        }

    }

    &__container {
        
        margin-top: 60px;
        margin-left: 15%;
        margin-right: 15%;
        a {
            text-decoration: none;
        }

        &__item {
        flex-direction: column;
        justify-self: center;

            img {
                width: 200px;
                margin: 0 auto;
            }

            p {
                font-family: $text-font;
                font-size: 24px;
                font-weight: bold;
                margin: 30px;
                text-align: center;
                align-items: center;
                color: $text-color;
                text-decoration: none;
            }
        }
    }

    // &__img img {
    //     width: 100%;
    //     // margin: 0 60px;
    // }

    blockquote {
        color: $text-color;
        font-family: $text-font;
        font-size: 24px;
        width: 80%;
        margin: 30px auto 30px auto;
        text-align: center;
     }
     blockquote h1 {
        font-size: 4rem;
     }
     blockquote p {
        font-style: italic;
        margin-bottom: 0;
        line-height: 1.5;
        text-align: center;
     }
     
     blockquote p::before,
     blockquote p::after {
        content: "“";
        font-family: $text-font;
        font-size: 4rem;
        margin: -1.5rem 0 0 -2.5rem;
        position: absolute;
        color: gray;
     }
     
     blockquote p::after {
        content: "”";
        margin: -1.6rem 0 0 -0.3rem;
     }

     #blockquote_with_quotation {
        display: flex;
     }
     #blockquote_without_quotation {
        display: none;
     }

    .hero__button {
        @extend .section__button--highlighted-center;
        width: 210px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

.resources {
    margin: 50px 50px 0 50px;
    
    h3 {
        @extend .section__title--center;
    }

    a {
        text-decoration: none;
    }

    &__grid {
        padding-top: 30px;
    }

    &__grid__item {
        display: flex;
        align-items: center;

        p {
            color: $text-color;
            font-family: $text-font;
            font-size: 24px;
        }
    
        i {
            color: $text-color;
            font-size: 48px;
            margin: 0 20px 0 0;
        }
    }


}

.contact {
    margin: 100px 50px 0 50px;

    &__title {
        h3 {
            @extend .section__title--side;
        }
    }

    p {
        font-family: $text-font;
        font-size: 24px;
        color: $text-color;
        line-height: 1.3;
    }

    &__text__icons__item {
        display: flex;
        align-items: center;     
        margin: 20px 0;

        i {
            color: $text-color;
            font-size: 36px;
            margin: 0 20px 0 0;
        }
    }

    a {
        color: $text-color;
    }
}

.books {
    margin: 0 50px;

    h1, h2 {
        @extend .section__title--center;
        margin-top: 50px;
    }

    p {
        @extend .section__paragraph--side;
        text-align: center;
    }

    &__ranking {
        // h2 {
        //     @extend .section__title--center;
        //     margin-top: 100px; 
        // }

        &__item {
            h3 {
                @extend .section__title-3rd--small;
                text-transform: uppercase;
            }

            img {
                max-width: 250px;
                padding-right: 30px;
            }

            .book__button {
                @extend .section__button--highlighted;
                margin-top: 20px;
            }

            p {
                text-align: left;
            }
        }
    }

    .library__button {
        @extend .section__button--megahighlighted;
        margin-top: 100px;
        margin: auto;
    }

}

.cv-templates {
    margin: 0 50px;

    h1, h2 {
        @extend .section__title--center;
        margin-top: 50px;
    }

    p {
        @extend .section__paragraph--side;
        text-align: center;
    }

    &__ranking__container {
        margin: 50px 0 125px 0;
        min-width: 150px;

        img {
            width: 100%;
        }
    }

    &__button {
        @extend .section__button--megahighlighted;
        margin-top: 20px;
        margin: 60px auto;
    }

}

.podcasts {
    margin: 0 50px;

    h1 {
        @extend .section__title--center;
    }

    h2 {
        @extend .section__title--center;
        margin-top: 60px;
    }

    p {
        @extend .section__paragraph--side;
        text-align: center;
    }

    &__topic__container {
        h3 {
            @extend .section__title-3rd--small;
            text-transform: uppercase;
        }
    }
}

.trends {
    margin: 0 50px;

    h1 {
        @extend .section__title--center;
    }

    h2 {
        @extend .section__title--center;
        margin-top: 60px;
    }

    p {
        @extend .section__paragraph--side;
        text-align: center;
    }

    &__container {
         @extend .section__title-2nd--small;
         margin-top: 40px;
         margin-bottom: 60px;
    }
}

.yt-video {
    aspect-ratio: 16/9;
    width: 100%;
}

footer {
    background-color: $primary-1-color;
    margin-top: 100px;

    .footer__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px 40px;

        p {
            align-self: center;
            font-family: $text-font;
            font-size: 22px;
            color: $text-light-color;
        }

        i {
            margin-right: 20px;
            color: $text-light-color;
            font-size: 24px;
        }
    }
} 

/* MEDIA QUERIES */

// $breakpoint-xxl: 1400px;
@media all and (max-width: $breakpoint-xxl) {
    header{
        nav .navbar__menu {
            padding-left: 50px;
        }
    }

    .hero, 
    .services,
    .we-are,
    .team,
    .resources,
    .contact {
        margin-left: 50px;
        margin-right: 50px;
    }

    .books {
        &__ranking .books__ranking__book-container .books__ranking__item  {
            grid-template-columns: 1fr 1fr;
        }
        
    }

    // .cv-templates {
    //     &__ranking__container {
    //         img {
    //             max-width: 250px;
    //         }
    //     }
    // }
}

// $breakpoint-xl: 1200px;
@media all and (max-width: $breakpoint-xl) { 
    header .navbar__menu {
        justify-content: space-between;
        width: 630px;
    }

    main .hero {
        height: 500px;
        margin: 0 40px;
    
        &__text {
            align-self: center;
            margin: 0 10px;
    
            &--big {
                font-family: $title-font;
                font-weight: 700;
                font-size: 48px;
                margin: 40px 0;
                color: $text-color;
            }
    
            &--small {
                font-family: $text-font;
                font-weight: normal;
                font-size: 20px;
                margin: 46px 0;
                color: $text-color;
                line-height: 1.3;
            }
        }
    }

    main .services {
        margin: 30px 50px;
        // width: 1400px;
        
        &__title--big {
            font-size: 32px;
        }
    
        &__container {
        
            &__item {
                img {
                    width: 150px;
                }
    
                p {
                    font-size: 20px;
                    line-height: 1.3;
                }
            }
        }
    }

    main .team .team__container .team__container__item p {
        font-size: 20px;
    }

    blockquote p {
        font-size: 20px;
    }

    main .resources__grid p {
        font-size: 20px;
    }

    .section__title--side {
        font-size: 40px;
        margin-bottom: 24px;
    }

    .section__title--center {
        font-size: 40px;
    }

    .section__paragraph--side {
        font-family: $text-font;
        font-size: 20px;
        margin-top: 16px;
        color: $text-color;
        line-height: 1.3;
    }

    main .contact {
    
        &__title {
            h3 {
                margin-bottom: 42px;
            }
        }
    
        p {
            font-family: $text-font;
            font-size: 20px;
            color: $text-color;
            line-height: 1.3;
        }
    
        &__text__icons__item {
            display: flex;
            align-items: center;     
            margin: 18px 0;
    
            i {
                color: $text-color;
                font-size: 34px;
                margin: 0 20px 0 0;
            }
        }
    
        a {
            color: $text-color;
        }
    }

    main .books {
        &__ranking {
            &__item img {
                padding-right: 0;
            }

            .books__ranking__book-container {
                grid-template-columns: 1fr;
                row-gap: 50px;
            }
        }
    }

    footer .footer__container {
        p {
            font-size: 20px;
        }
    
        i {
            font-size: 22px;
        }
    }
}

// $breakpoint-lg: 960px;
@media all and (max-width: $breakpoint-lg) {
    
    html {
        background-size: 100%;
        //height: 100%;
    }
    


    header {
        width: 100%;
    }

    header .header__open-button--mobile {
        display: block; /*Button of open*/
        border: 0;
        font-size: 40px;
        background-color: transparent;
        color: $text-color;
        cursor: pointer;
    }

    header .navbar {
        // It hides the menu
        opacity: 0;
        visibility: hidden;
        //----
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: fixed; /* The mobile menu will be fixed in the screen*/
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $primary-2-color;
        padding: 2rem;
        box-shadow: 0 0 0 1000vmax rgba($color: #000000, $alpha: 0.4);
        justify-content: flex-start;

        &__menu {
            flex-direction: column;
            align-items: end;
            line-height: 5rem;
            font-size: 28px;
            width: 300px;
            }

        &__close-button--mobile {
            display: block; /*Button of close*/
            border: 0;
            font-size: 40px;
            background-color: transparent;
            color: $text-color;
            cursor: pointer;
        }

        &__menu {
            li .navbar__menu__item--first {
                display: inline;
            }
            
            li:last-child {
            border-radius: 2rem;
            padding: 6px 20px;
            }
        }
    }

    blockquote p::before,
    blockquote p::after {
        visibility: hidden;
    }

    .team #blockquote_without_quotation {
            display: flex;
        }
    .team #blockquote_with_quotation {
            display: none;
        }

    main .cv-templates {
        &__ranking .cv-templates__ranking__container {
            margin-left: auto;
            margin-right: auto;
            grid-template-columns: 1fr 1fr;
            gap: 5%;
        }
    }

    main .podcasts {
        .podcasts__topic__container {
            grid-template-columns: 1fr;

            &__item  h3{
                font-size: 32px;
            }
        }
    }

    main .trends {
        &__container__item h3 {
            font-size: 32px;
        }
    }
}

// $breakpoint-md: 768px;
@media all and (max-width: $breakpoint-md) {
    html {
        background-size: 140%;
        //height: 100%;
    }

    main .hero {
        grid-template-columns: 1fr;
        
        &__text {
            text-align: center;
        }

        &__img {
            display: none;
            }

        &__button {
            display: inline-flex;
            justify-self: center;
        }
    }
    
    main .services .services__container {
        grid-template-columns: 1fr;
        
        &__item {
            img {
                width: 40%;
            }
        }
    }

    main .we-are {
        grid-template-columns: 1fr;
        gap: 0;

        &__text {
            h3, p {
                text-align: center;
            }

            h3 {
                margin-top: -20px;
            }
        }

        &__img {
            width: 80%;
            justify-self: center;
            margin-bottom: 50px;
        }
    }

    main .team {
        grid-template-columns: 1fr;

        &__container {
            grid-template-columns: 1fr;
            gap: 0;
            margin-left: 0;
            margin-right: 0;
            margin-top: 64px;

            &__item img {
                width: 40%;
            }
        }

        /*
        &__img {
            order: 2;
            display: flex;
            padding-left: 15%;
            padding-right: 15%;

            img {
                margin: 0 auto;
            }
        }
        */

        &__text {
            h3 {
                text-align: center;
            }

            p {
                text-align: center;
                //margin-bottom: 40px;
            }

            .hero__button {
                display: flex;
                margin: 20px auto 60px auto;
            }

        }
    }
    
    main .resources__grid {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    main .contact {
        margin-top: 40px;
        grid-template-columns: 1fr;
        gap: 20px;

        h3, p {
            text-align: center;
        }

        .contact__text__icons__item {
            // margin: 0 auto;
            p {
                text-align: left;
            } 
        }
    }

    main .books {
        &__ranking .books__ranking__book-container .books__ranking__item {
            grid-template-columns: 1fr 2fr;

            h3 {
                text-align: center;
            }
            
            a {
                justify-self: center;
            }

            p {
                text-align: start;
            }
            
            img {
                max-width: 200px;
                padding-right: 20px;
                justify-self: center;
            }

            .book__button {
                margin: 30px auto;
            }
        }

        .library__button {
            width: 450px;
        }

        p {
            text-align: center;
        }
    }

    main .cv-templates p {
        text-align: center;
    }

    main .podcasts {
        h1, h2 {
            font-size: 47px;
        }

        p {
            text-align: center;
        }

        &__topic__container  h3{
            font-size: 28px;
        }
    }

    main .trends {
        h1, h2 {
            font-size: 47px;
        }

        p {
            text-align: center;
        }

        &__container {
            grid-template-columns: 1fr;
            
            h3 {
                font-size: 28px;
            }
       }
    }

    footer .footer__container{
        flex-direction: column;
        align-items: center;

        .footer__icons {
            margin: 0 10px 20px 10px;
        }

        p {
            text-align: center;
        }
    }
}

@media all and (max-width: $breakpoint-sm) {
    html {
        background-size: 180%;
        //height: 100%;
    }
    
    
    main .hero {
        margin-bottom: 60px;
    }

    main .books {
        h1 {
            font-size: 47px;
        }

        &__ranking .books__ranking__book-container {

            .books__ranking__item {
                grid-template-columns: 1fr;
            }
        }

        .library__button {
            font-size: 22px;
            width: 230px;
            text-align: center;
        }
    }

    main .cv-templates {
        &__ranking .cv-templates__ranking__container {
            grid-template-columns: 1fr;
            gap: 20px;
        }

        &__button {
           font-size: 22px;
           width: 230px;
           text-align: center;
        }

        // &__button {
        //     width: 450px;
        // }
    }

}