// En este archivo deberán ir todas las reglas relacionadas con layout:

// Se considera layout:
// - grid
// - contenedores

// .navbar {
//     display: flex;
//     justify-content: space-between;

//     &__menu {
//         align-items: center;
//         // background-color: aqua;
//         display: flex;
//     }
// }

@use 'base' as *;

header {
    display: flex;
    justify-content: space-between;

    .navbar {
        // display: flex;

        &__menu {
            align-items: center;
            display: flex;
            // display: grid;
            // grid-template-columns: 1fr repeat(4, 2fr);
            
        }
    }

}

main {
    display: flex;
    flex-direction: column;
    
    // .hero {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-around;
    // }

    .hero {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 600px));
        justify-content: space-between;
        // border: 1px solid #000;

    }

    .services {

        &__container {
            display: grid;
            grid-template-columns: repeat(3, minmax(75px, 500px));
            grid-template-rows: 1fr;
            // gap: 100px;
            

            &__item {
                display: flex;
                // border: 1px solid #000;

            }
        }
    }

    .we-are {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;

        &__text {
            align-self: center;
        }
    }

    .team {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 600px));
        // grid-template-columns: 2fr 3fr;
        gap: 50px;

        &__text {
            align-self: center;
        }
    }

    .resources__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }

    .contact {
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 600px));
        gap: 50px;

        &__title {
            align-self: center;
        }
    }
}

footer .footer__container {
    display: flex;
    justify-content: space-between;
}